{% extends 'base.html.twig' %}

{% block body %}

    <div class="form-wrapper {% if form_classes is defined %}{{ form_classes }}{% endif %}">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
