{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
        {% include '__main-navbar.html.twig' with {'active': 'action'} %}
        <div class="container-fluid">
            <a href="{{ localizedPath('project_activity_create', {'projectId': projectId }) }}" class="btn btn-add btn-success "><span aria-hidden="true"></span>Add Activity</a>
            {% for key,value in activities %}

            {% endfor %}
            {% for key,value in deliverables %}

            {% endfor %}
        </div>
    <div>
{% endblock %}