{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
        <div class="container-fluid">

            <table class="table table-hover" data-toggle="table">
                <thead>
                <tr class="table-header">
                    <th class="sortable" data-field="project_title" data-sortable="true">{% trans %}Name{% endtrans %}</th>
                    <th class="sortable" data-sortable="true">{% trans %}Surname{% endtrans %}</th>
                </tr>
                </thead>

                <tbody>
                {% for key,value in persons %}
                    <tr>
                        <td> <a href="{{ localizedPath('person_view', {'personId':value.id}) }}" >{{ value.firstName(app.request.locale) }} </a></td>
                        <td> {{ value.lastName(app.request.locale) }} </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
    <div>
{% endblock %}