{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
    <script type="text/javascript" src="{{ asset('/js/results.js')}}"></script>
        {% if keyAction == 'ka1' %}
            {% include 'sub-navbar.html.twig' with {'active': 'results'} %}
        {% endif %}
        {%  if keyAction == 'ka2' %}
            {% include 'sub-navbar-ka2.html.twig' with {'active': 'results'} %}
        {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="controls results">
                <div class="col-xs-12">

                    {{ form_start(my_form) }}
                    <div class="col-xs-12">
                        <h2>{% trans %}Edit Result{% endtrans %}</h2>
                    </div>

                    <ul class="results" data-purpose="edit" data-prototype="{{include('results/includes/results-details.html.twig',
                    {'my_form': my_form.results.vars.prototype })|e}}">
                    </ul>

                    <div class="col-xs-12">
                        {{ form_end(my_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}