{% extends 'base.html.twig' %}

{% block body %}
<script type="text/javascript" src="{{ asset('/js/action.js')}}"></script>

<section id="main">
    {% if keyAction == 'ka1' %}
        {% include 'sub-navbar.html.twig' with {'active': 'action', 'actionTab': actionTab} %}
    {% endif %}

    <div class="container-fluid">
        <div class="page-header">
            <h1>{% trans %}Create action{% endtrans %}</h1>
        </div>

        <div class="row">
            {{ form_start(my_form) }}

            <div class="controls activities">
                <h2>{% trans %}Activities{% endtrans %}</h2>
                <div class="col-xs-12">
                    <ul class="activities" data-purpose="create" data-prototype="{{include('action/includes/activities.html.twig',
                        {'form': my_form.activities.vars.prototype })|e('html_attr')}}">
                    </ul>
                </div>
            </div>

            {{ form_end(my_form) }}
        </div>
    </div>
</section>
{% endblock %}
