{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
        <div class="container-fluid">

            <table class="table table-hover" data-toggle="table">
                <thead>
                <tr class="table-header">
                    <th class="sortable" data-field="action_title" data-sortable="true">{% trans %}Activity{% endtrans %}</th>
                    <th class="sortable" data-sortable="true">{% trans %}ActionDetails{% endtrans %}</th>
                </tr>
                </thead>

                <tbody>
                {% for key,value in activities %}

                    <tr>
                        {% for action in value.actionDetails %}
                            <td> <a href="{{ localizedPath('action_view', {'activityId': value.id}) }}" >{{ value.activityType.name(app.request.locale) }} </a></td>
                            <td>{{ action.person.firstName(app.request.locale) }} {{ action.person.lastName(app.request.locale) }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
    <div>
{% endblock %}