{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
    {% include 'main-navbar.html.twig' with {'active': 'resources'} %}
    <div class="container-fluid">
        {#<a href="{{ localizedPath('resources_create') }}" class="btn btn-add btn-success "><span aria-hidden="true"></span>Add Action</a>#}

        <div class="row">
            <div class="col-xs-12">
                <h2><b>{% trans %}Resources{% endtrans %}: </b></h2>

                <div class="col-xs-3">
                    <p>Res</p>
                </div>
                <div class="col-xs-6">
                    <p>Key</p>
                </div>
                <div class="col-xs-3">
                    <p>Is public</p>
                </div>
            </div>
        </div>

        {#<a href="{{ localizedPath('action_view', {'activityId': value.id}) }}">{{ value.activityType.name(app.request.locale) }} </a>#}

    </div>
    <div>
{% endblock %}