
<div class="col-xs-8">
    {{ form_row(form.eventType) }}
</div>
<div class="col-xs-4">
    {{ form_row(form.eventDate) }}
</div>
<div class="col-xs-12">
    {{ form_row(form.eventDescription) }}
</div>


<div class="col-xs-12">
    <ul class="event-reminder" data-prototype="{{ include('/group-calendar/includes/event-reminder.html.twig',
    {'form': form.eventReminder.vars.prototype })|e }}">
    </ul>
</div>