<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="{% if active == 'person' %}active{% endif %}"><a href="{{ localizedPath('person_list')}}">Person</a></li>
            <li class="{% if active == 'institution' %}active{% endif %}"><a href="{{ localizedPath('person_list')}}">Institution/Organization</a></li>
            <li class="{% if active == 'project' %}active{% endif %}"><a href="{{ localizedPath('project_list')}}">Project</a></li>
            <li class="{% if active == 'action' %}active{% endif %}"><a href="{{ localizedPath('project_list')}}">Action</a></li>
        </ul>
    </div>
</nav>