{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript" src="{{ asset('/js/resources.js')}}"></script>
    <section id="main">
    {% include 'sub-navbar.html.twig' with {'active': 'resources'} %}
    <div class="container-fluid">
        <div class="row">
            <div class="controls resources">
                <div class="col-sm-12">
                    {{ form_start(my_form) }}
                        <h2>{% trans %}Edit Resource{% endtrans %}</h2>

                        <div class="form-group">
                            <div class="row">
                                <ul class="resources" data-purpose="edit" data-prototype="{{include('resources/includes/resources-details.html.twig',
                                {'form': my_form.resources.vars.prototype })|e}}">
                                </ul>
                            </div>
                        </div>
                    {{ form_end(my_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}