{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
    <script type="text/javascript" src="{{ asset('/js/attachments.js')}}" ></script>
        {% if keyAction == 'ka1' %}
            {% include 'sub-navbar.html.twig' with {'active': 'attachments', 'actionTab': actionTab, 'isCompleted': isCompleted} %}
        {% endif %}
        {%  if keyAction == 'ka2' %}
            {% include 'sub-navbar-ka2.html.twig' with {'active': 'attachments'} %}
        {% endif %}
    <div class="container-fluid">
        <a href="{{ localizedPath('reporting_edit', {projectId: projectId}) }}"><button type="button" class="btn btn-info">Back</button></a>
        <div class="row">
            <div class="controls results">
                <div class="col-xs-12">

                    {{ form_start(my_form, {'attr': {'novalidate': 'novalidate'}}) }}
                        {% include 'attachments/includes/create-edit.html.twig' with {'my_form': my_form, 'purpose': 'create'} %}
                    {{ form_end(my_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}