{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
    <script type="text/javascript" src="{{ asset('/js/attachments.js')}}" ></script>
    {% include 'sub-navbar.html.twig' with {'active': 'attachments'} %}
    <div class="container-fluid">
        <div class="row">
            <div class="controls results">
                <div class="col-xs-12">

                    {{ form_start(my_form, {'attr': {'novalidate': 'novalidate'}}) }}
                        {% include 'attachments/includes/create-edit.html.twig' with {'my_form': my_form, 'purpose': 'create'} %}
                    {{ form_end(my_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}