{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
    <script type="text/javascript" src="{{ asset('/js/attachments.js')}}" ></script>
    {% if keyAction == 'ka1' %}
        {% include 'sub-navbar.html.twig' with {'active': 'attachments', 'isCompleted': isCompleted, projectId: projectId} %}
    {% endif %}
    {%  if keyAction == 'ka2' %}
        {% include 'sub-navbar-ka2.html.twig' with {'active': 'attachments', 'isCompleted': isCompleted, projectId: projectId} %}
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="controls attachments">
                {% if not isCompleted %}
                    <a href="{{ localizedPath('equipment_edit', {projectId: projectId}) }}"><button>Back</button></a>
                {% endif %}
                <div class="col-xs-12">

                    {{ form_start(my_form, {'attr': {'novalidate': 'novalidate'}}) }}
                        {% include 'attachments/includes/create-edit.html.twig' with {'my_form': my_form, 'purpose': 'edit'} %}
                    {{ form_end(my_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}