{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
    {% include 'sub-navbar.html.twig' with {'active': 'monitoring'} %}
    <div class="container-fluid">
        <div class="row">
            <div class="controls resources">
                <a href="{{ localizedPath('project_ka2_edit', {projectId: projectId}) }}"><button>Back</button></a>
                <div class="col-sm-12">
                    {{ form_start(my_form) }}
                    <h2>{% trans %}Edit Monitoring{% endtrans %}</h2>

                    <div class="form-group">
                        <div class="form-group">
                            <ul class="monitoring-reporting" data-purpose="edit" data-prototype="{{include('monitoring-reporting/includes/details.html.twig',
                            {'my_form': my_form.monitoringReporting.vars.prototype })|e}}">
                            </ul>
                        </div>
                    </div>
                    {{ form_end(my_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}