<div>
    <a href="{{ localizedPath('default_route', {'locale': app.request.getLocale()})}}" style="display: block;">
        <img alt="{% trans %}base.head_title{% endtrans %}" src="{{ asset('/images/logo_horizontal_en-470e29804c52b459fae2c00b8ead4843.png') }}">
    </a>
</div>