<div id="menu-bar" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="inner-container inner-container-left">
            {% include 'menu-bar/logo.html.twig' %}
        </div>
        <div class="inner-container inner-container-center">
            {% if is_granted('ROLE_USER') %}
                {% set menu = knp_menu_render('main_menu') %}
                <nav class="navbar navbar-default {% if menu is not defined or menu is empty %} has-no-menu {% endif %}">
                    <div class="container-fluid">
                        {{ menu | raw }}
                    </div>
                </nav>
            {% endif %}
        </div>
        <div class="inner-container inner-container-right">
            <div>{% include 'menu-bar/language-selector.html.twig' %}</div>
            {% if is_granted('ROLE_USER') %}
                <div>{% include 'menu-bar/session-info.html.twig' %}</div>
            {% endif %}
        </div>
    </div>
</div>
<script>
    (function($){
        $(document).ready(function(){
            $('#main_menu').superfish({});
        });
    })(jQuery);
</script>