form {
    margin: 0;
    padding: 20px;
    background: #ddd;
    background: rgba(0,0,0,0.075);
    border-radius: 6px;
    box-shadow: inset 0 1px 6px rgba(0,0,0,0.15);
}
form input[type='submit'],
form button[type='submit'] {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}