#auth_box {
    width: 500px;
    margin: 0 auto;
    height: auto;
    border-radius: 3px;
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 3px 1px #ccc;
    margin-top: 50px;
}

#auth_box h1#the_logo {
    text-align: center;
    margin: 0;
    padding: 0 0 25px;
}
#auth_box h1#the_logo img {
    max-width: 100%;
    margin: 0 auto;
}
#auth_box h2.title {
    margin: 0;
    padding: 0 0 15px;
    font-size: 2em;
}
#auth_box input[type="text"],
#auth_box input[type="password"] {
    font-size: 15px;
}

#auth_box #top_part {
    text-align: center;
    float: none;
    height: auto;
    padding: 0;
    display: block;
}
#auth_box #middle_part .checkbox {
    padding: 0;
}

#auth_box .back_link {
    padding: 15px 0 0;
}

#auth_box #bottom_part {
    font-size: 13px;
    padding: 15px 0 0;
}

#auth_box div.part {
    margin: 0 auto;
    max-width: 80%;
}