html,
body {
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
}

tr.details-row {
    cursor: pointer;
}

tr.details-wrapper td {
    padding: 0 !important;
}

.details-wrapper-inner {
    padding-left: 2rem;
}

li {
    list-style-type: none;
}

.login a {
    line-height: 75px;
}

.navbar {

}

#page {
    margin-bottom: 30px;
    border-radius: 0 0 15px 15px;
    background: transparent;
}
#columns {
    background: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
}

#footer {
    background: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#main {
    /*padding-top: 0;*/
}

.page-header {
    margin-top: 0;
}

.loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(255,255,255,0.6);
    text-align: center;
    color: #000;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.loader::after {
    content: 'LOADING...';
    position: absolute;
    top:50%;
    left:50%;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

/* MAIN NAV */
.login {
    height: 75px;
}
#main-nav .navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 75px;
}

/* SECTION MAIN */
#main {
    clear: both;
    padding-top: 0;
}

.section-heading {
    padding: 3rem 0 1rem;
    margin-bottom: 2rem;
    border-bottom: 3px double #ccc;
}

.section-heading h2 {
    border: none;
    display: inline;
}

/* REPORTING TAB */
.reporting-by {
    padding-left: 0;
}

/*  CALENDAR TAB */

.event-holder {
    display: inline-block;
    border: 1px solid;
    /* position: relative; */
    width: 100%;
    padding: 2rem;
}
.navbar-default {
    box-shadow: 0 1px 15px 1px #ccc;

}
.error-page .error-actions {
    margin-top: 20px;
}
#menu-bar {
    background: url(/images/header_bg.jpg) left center;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.7), inset 0 -2px 16px rgba(0,0,0,0.15), 0 1px 6px rgba(0,0,0,0.1);
    opacity: 0.925;
    text-align: center;
}
#menu-bar .inner-container {
    display: inline-block;
    vertical-align: top;
    float: none;
}
#menu-bar .inner-container.inner-container-left {
    float: left;
    text-align: left;
}
#menu-bar .inner-container.inner-container-right {
    float: right;
    text-align: right;
}
#menu-bar .inner-container.inner-container-right #locales {
    margin-bottom: 0;
}
#menu-bar .inner-container.inner-container-right #locales li {
    display: inline-block;
    margin: 0 0 9px 0;
}
#menu-bar .inner-container.inner-container-right  #locales li a:last-child {
    padding-right: 0;
}
#menu-bar .inner-container.inner-container-right  #locales li a {
    display: inline-block;
    height: 24px;
    padding: 0 6px 0 21px;
    font: 11px/24px Tahoma,Verdana,Geneva;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,0.65);
    text-decoration: none;
    background: url(/images/countries_16px.png) no-repeat -4px 0;
    border: 0;
}
#menu-bar .inner-container.inner-container-right #locales li.en a {
    background-position: -4px -24px;
}
#menu-bar .inner-container.inner-container-left {
    margin: 15px 0 10px 0;
}
#menu-bar .inner-container.inner-container-right {
    float: right;
    margin: 15px -5px 10px 10px;
    padding: 0 15px 0 0;
    text-align: right;
    background: url(/images/traybar.png) no-repeat right bottom;
}
#menu-bar .inner-container.inner-container-right #session {
    margin: 0;
    font-size: 12px;
    text-shadow: 0 1px 0 #eee;
    margin-bottom: 15px;
}
#menu-bar .inner-container.inner-container-right #session #username {
    display: inline-block;
    font-weight: bold;
}
#menu-bar .inner-container.inner-container-right #session #username span.email {
    display: inline-block;
    margin: 0 3px 0 0;
    vertical-align: middle;
}
#menu-bar .inner-container.inner-container-right #session #logout {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: 24px;
    height: 16px;
    margin: 0 0 0 3px;
    padding: 0;
    color: #777;
    text-shadow: 0 1px 0 #fff;
    text-indent: 999em;
    background: url(/images/actions-16px.png) no-repeat scroll 2px -172px;
    border: 0;
    border-left: 1px dotted #888;
}
#footer p {
    margin: 0;
    padding: 10px 0;
    line-height: 30px;
}
#footer p small {
    font-size: 12px;
    color: #000;
    text-shadow: 0 1px 0 #efefef;
}
#footer img.logo {
    float: right;
}
#datatable_list #list_wrapper .dataTables_length {
    float: left;
}
#datatable_list #list_link {
    margin: 20px 0;
}
#datatable_list #list_link a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 32px;
    white-space: nowrap;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
    opacity: 0.5;
    min-width: 74px;
    height: 32px;
    padding: 0 0 0 38px;
    background: url(/images/admin/actions-32px.png) no-repeat;
    border: 0;
    box-shadow: none;
}
.form-group .form-control-label.required:after {
    content:" *";
    color:red;
}
/**** CONTENT ****/
#content .user-form .form-group legend.col-form-legend {
    font-size: 14px;
    font-weight: bold;
}
#content .user-form .form-group legend.col-form-legend.required:after {
    content:" *";
    color:red;
}