html,
body {
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
}

tr.details-row {
    cursor: pointer;
}

tr.details-wrapper td {
    padding: 0 !important;
}

.details-wrapper-inner {
    padding-left: 2rem;
}

li {
    list-style-type: none;
}

.login a {
    line-height: 75px;
}

.navbar {

}

#page {
    margin-bottom: 30px;
    border-radius: 0 0 15px 15px;
    background: transparent;
}
#columns {
    background: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
}

#footer {
    background: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#main {
    /*padding-top: 0;*/
}

.page-header {
    margin-top: 0;
}

.loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(255,255,255,0.6);
    text-align: center;
    color: #000;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.loader::after {
    content: 'LOADING...';
    position: absolute;
    top:50%;
    left:50%;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

/* MAIN NAV */
.login {
    height: 75px;
}
#main-nav .navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 75px;
}

/* SECTION MAIN */
#main {
    clear: both;
    padding-top: 0;
}

.section-heading {
    padding: 3rem 0 1rem;
    margin-bottom: 2rem;
    border-bottom: 3px double #ccc;
}

.section-heading h2 {
    border: none;
    display: inline;
}

/* REPORTING TAB */
.reporting-by {
    padding-left: 0;
}

/*  CALENDAR TAB */

.event-holder {
    display: inline-block;
    border: 1px solid;
    /* position: relative; */
    width: 100%;
    padding: 2rem;
}
.navbar-default {
    box-shadow: 0 1px 15px 1px #ccc;

}
.error-page .error-actions {
    margin-top: 20px;
}
#menu-bar {
    background: url(/images/header_bg.jpg) left center;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.7), inset 0 -2px 16px rgba(0,0,0,0.15), 0 1px 6px rgba(0,0,0,0.1);
    opacity: 0.925;
    text-align: center;
}
#menu-bar .inner-container {
    display: inline-block;
    vertical-align: top;
    float: none;
}
#menu-bar .inner-container.inner-container-left {
    float: left;
    text-align: left;
}
#menu-bar .inner-container.inner-container-right {
    float: right;
    text-align: right;
}
#menu-bar .inner-container.inner-container-right #locales {
    margin-bottom: 0;
}
#menu-bar .inner-container.inner-container-right #locales li {
    display: inline-block;
    margin: 0 0 9px 0;
}
#menu-bar .inner-container.inner-container-right  #locales li a:last-child {
    padding-right: 0;
}
#menu-bar .inner-container.inner-container-right  #locales li a {
    display: inline-block;
    height: 24px;
    padding: 0 6px 0 21px;
    font: 11px/24px Tahoma,Verdana,Geneva;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,0.65);
    text-decoration: none;
    background: url(/images/countries_16px.png) no-repeat -4px 0;
    border: 0;
}
#menu-bar .inner-container.inner-container-right #locales li.en a {
    background-position: -4px -24px;
}
#menu-bar .inner-container.inner-container-left {
    margin: 15px 0 10px 0;
}
#menu-bar .inner-container.inner-container-right {
    float: right;
    margin: 15px -5px 10px 10px;
    padding: 0 15px 0 0;
    text-align: right;
    background: url(/images/traybar.png) no-repeat right bottom;
}
#menu-bar .inner-container.inner-container-right #session {
    margin: 0;
    font-size: 12px;
    text-shadow: 0 1px 0 #eee;
    margin-bottom: 15px;
}
#menu-bar .inner-container.inner-container-right #session #username {
    display: inline-block;
    font-weight: bold;
}
#menu-bar .inner-container.inner-container-right #session #username span.email {
    display: inline-block;
    margin: 0 3px 0 0;
    vertical-align: middle;
}
#menu-bar .inner-container.inner-container-right #session #logout {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: 24px;
    height: 16px;
    margin: 0 0 0 3px;
    padding: 0;
    color: #777;
    text-shadow: 0 1px 0 #fff;
    text-indent: 999em;
    background: url(/images/actions-16px.png) no-repeat scroll 2px -172px;
    border: 0;
    border-left: 1px dotted #888;
}
#footer p {
    margin: 0;
    padding: 10px 0;
    line-height: 30px;
}
#footer p small {
    font-size: 12px;
    color: #000;
    text-shadow: 0 1px 0 #efefef;
}
#footer img.logo {
    float: right;
}
#datatable_list #list_wrapper .dt-buttons,
#datatable_list #list_wrapper .dataTables_length {
    float: left;
    margin-right: 20px;
}
#datatable_list #list_link {
    margin: 20px 0;
}
/*#datatable_list #list_link a {*/
    /*background-image: url(/images/admin/actions-32px.png);*/
    /*padding-left: 35px;*/
    /*background-repeat: no-repeat;*/
/*}*/
/*#datatable_list #list_link a.btn-primary:hover,*/
/*#datatable_list #list_link a.btn-primary:focus {*/
     /*background-position: 0 0;*/
/*}*/

#datatable_list #dt_wrapper .dt-buttons {
    position: relative;
}
#datatable_list #dt_wrapper .dt-buttons .dt-button-collection {
    position: absolute;
    top: 50px;
    z-index: 999;
    background-color: #fff;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
    box-shadow: 0 0 12px rgba(0,0,0,.6);
}
#datatable_list #dt_wrapper .dt-buttons .dt-button-collection .dt-button {
    display: block;
    width: 100%;
    background-color: #f6f6f6;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
    margin-bottom: 0;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    text-align: left;
}
#datatable_list #dt_wrapper .dt-buttons .dt-button-collection .dt-button:before {
    content: "\f096";
    font-family: FontAwesome;
    padding-right: 10px;
}
#datatable_list #dt_wrapper .dt-buttons .dt-button-collection .dt-button.active:before {
    content: "\f046";
    font-family: FontAwesome;
    padding-right: 10px;
}
.form-group .form-control-label.required:after {
    content:" *";
    color:red;
}
/**** CONTENT ****/
#content #user_form .form-group legend.col-form-legend {
    font-size: 14px;
    font-weight: bold;
    border: 0;
}
#content #user_form .form-group legend.col-form-legend.required:after {
    content:" *";
    color:red;
}
#content .back-link {
    margin-bottom: 10px;
}
#content #list_link a,
#content .back-link a{
    color: #ffffff;
    text-decoration: none;
}
#content #list_link a span.icon,
#content .back-link a span.icon {
    font-size:24px;
    vertical-align: middle;
    text-decoration: none;
}
#content #list_link a span.text,
#content .back-link a span.text {
    vertical-align: middle;
    font-size: 16px;
    text-transform: lowercase;
    margin-left: 5px;
    text-decoration: none;
}
#content .sub-menu-wrapper nav.navbar.navbar-default {
    margin-bottom: -2px;
    border: 0;
    border-bottom: 1px solid #777;
}

#content .sub-menu-wrapper nav.navbar.navbar-default .navbar-nav > .active>a,
#content .sub-menu-wrapper nav.navbar.navbar-default .navbar-nav > .active>a:hover,
#content .sub-menu-wrapper nav.navbar.navbar-default .navbar-nav > .active>a:focus,
#content .sub-menu-wrapper nav.navbar.navbar-default .navbar-nav > .current>a,
#content .sub-menu-wrapper nav.navbar.navbar-default .navbar-nav > .current>a:hover,
#content .sub-menu-wrapper nav.navbar.navbar-default .navbar-nav > .current>a:focus {
    border: 1px solid #777;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}
#content .sub-menu-wrapper nav.navbar.navbar-default .navbar-nav > li.current {
    border-bottom: 0;
    margin-bottom: -1px;
}
#content .form-wrapper {
    border: 1px solid #777;
    border-radius: 5px;
}
/**** FORM ****/
#content form .jquery-collection-element legend {
    display: none;
}