<div class="block" style="clear: both;">
    <h2>{% trans %}Monitoring Questions and Answers{% endtrans %}:</h2>
    <div class="col-xs-1">
        {#{{ form_row(form.id) }}#}
    </div>
    <div class="col-xs-5">
        {{ form_row(form.questionEn) }}
    </div>
    <div class="col-xs-6">
        {{ form_row(form.answerEn) }}
    </div>
</div>