
<div class="block" style="clear: both;">
    <div class="col-xs-12 no-padding">
        {{ form_label(form.person, 'Monitoring by'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_row(form.person) }}
    </div>
</div>