{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
        <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Create project</h1>
            </div>

            <div>
                {{ form(my_form) }}
            </div>
            {##}
            {#<form method="post" action="/project/create">#}
                {#<div class="form-group row">#}
                    {#<label for="appbundle_project_name" class="col-2 col-form-label">Name</label>#}
                    {#<div class="col-10">#}
                        {#<input class="form-control" type="text" name="appbundle_project[name]" id="appbundle_project_name" required="required">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label for="appbundle_project_description" class="col-2 col-form-label">Description</label>#}
                    {#<div class="col-10">#}
                        {#<input class="form-control" type="text"  id="appbundle_project_description" name="appbundle_project[description]">#}
                        {#<div>{{ form_errors(form.description) }}#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label for="appbundle_project_goals" class="col-2 col-form-label">Goals</label>#}
                    {#<div class="col-10">#}
                        {#<input class="form-control" type="text" id="appbundle_project_goals" name="appbundle_project[goals]">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label for="appbundle_project_nameOriginalLetter" class="col-2 col-form-label">Name original letter</label>#}
                    {#<div class="col-10">#}
                        {#<input class="form-control" type="text" id="appbundle_project_nameOriginalLetter" name="appbundle_project[nameOriginalLetter]">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label for="appbundle_project_acronymt" class="col-2 col-form-label">Acronym</label>#}
                    {#<div class="col-10">#}
                        {#<input class="form-control" type="text" id=appbundle_project_acronym" name="appbundle_project[acronym]">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label for="appbundle_project_programId" class="col-2 col-form-label">Program id</label>#}
                    {#<div class="col-10">#}
                        {#<input class="form-control" type="number" id="appbundle_project_programId" name="appbundle[project_programId]">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label for="appbundle_project_status" class="col-2 col-form-label">Status</label>#}
                    {#<div class="col-10">#}
                        {#<input class="form-control" type="number" id="appbundle_project_status" name="appbundle_project[status]">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label for="appbundle_project_scope" class="col-2 col-form-label">Scope</label>#}
                    {#<div class="col-10">#}
                        {#<input class="form-control" type="number" id="appbundle_project_scope" name="appbundle_project[scope]">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label for="appbundle_project_applicationYear" class="col-2 col-form-label">Application year</label>#}
                    {#<div class="col-10">#}
                        {#<input class="form-control" type="date" id="appbundle_project_applicationYear" name="appbundle_project[applicationYear]">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label for="appbundle_project_referenceNumber" class="col-2 col-form-label">Reference time</label>#}
                    {#<div class="col-10">#}
                        {#<input class="form-control" type="time" id="appbundle_project_referenceNumber" name="appbundle_project[referenceNumber]">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label for="appbundle_project_duration" class="col-2 col-form-label">Duration</label>#}
                    {#<div class="col-10">#}
                        {#<input class="form-control" type="number" id="appbundle_project_duration" name="appbundle_project[duration]">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label for="appbundle_project_endDatetime" class="col-2 col-form-label">End date</label>#}
                    {#<div class="col-10">#}
                        {#<input class="form-control" type="datetime" id="appbundle_project_endDatetime" name="appbundle_project[endDatetime]">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label for="appbundle_project_startDatetime" class="col-2 col-form-label">Start date</label>#}
                    {#<div class="col-10">#}
                        {#<input class="form-control" type="datetime"  id="appbundle_project_startDatetime" name="appbundle_project[startDatetime]">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label for="appbundle_project_extendedTime" class="col-2 col-form-label">Extended date</label>#}
                    {#<div class="col-10">#}
                        {#<input class="form-control" type="datetime" id="appbundle_project_extendedTime" name="appbundle_project[extendedTime]">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label for="appbundle_project_grantAmount" class="col-2 col-form-label">Grant amount</label>#}
                    {#<div class="col-10">#}
                        {#<input class="form-control" type="text" id="appbundle_project_grantAmount" name="appbundle_project[grantAmount]">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label for="appbundle_project_coFinancingAmount" class="col-2 col-form-label">Co-financing amount</label>#}
                    {#<div class="col-10">#}
                        {#<input class="form-control" type="text" id="appbundle_project_coFinancingAmount" name="appbundle_project[coFinancingAmount]">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label for="appbundle_project_totalProjectValue" class="col-2 col-form-label">Total project value</label>#}
                    {#<div class="col-10">#}
                        {#<input class="form-control" type="text"  id="appbundle_project_totalProjectValue" name="appbundle_project[totalProjectValue]">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label for="appbundle_project_mark" class="col-2 col-form-label">Mark</label>#}
                    {#<div class="col-10">#}
                        {#<input class="form-control" type="number" id="appbundle_project_mark" name="appbundle_project[mark]">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form-group row">#}
                    {#<label for="appbundle_project_markExplanation" class="col-2 col-form-label">Mark explanation</label>#}
                    {#<div class="col-10">#}
                        {#<input class="form-control" type="text" id="appbundle_project_markExplanation" name="appbundle_project[markExplanation]">#}
                    {#</div>#}
                {#</div>#}
                {#{{ form_row(form._token) }}#}
                {#<button type="submit" class="btn btn-default">Create</button>#}
            {#</form>#}
        </div>
    </div>
    </div>
    </section>
{% endblock %}
