<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Project</title>
</head>
<body>
Create project

<hr />

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

</body>
</html>
