{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript" src="{{ asset('/js/collapsible.js')}}"></script>
    <script type="text/javascript" src="{{ asset('/js/reporting.js')}}"></script>
    <section id="main">
        {% if keyAction == 'ka1' %}
            {% include 'sub-navbar-view.html.twig' with {'active': 'reporting', 'projectId': projectId, 'actionTab': actionTab} %}
        {% endif %}
        {%  if keyAction == 'ka2' %}
            {% include 'sub-navbar-ka2-view.html.twig' with {'active': 'reporting', 'projectId': projectId} %}
        {% endif %}
    <div class="container-fluid">
        
    </div>
{% endblock %}